.bg{
    background-color: #020102;
}
@font-face {
    font-family: 'Monument Grotesk Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Monument Grotesk'), url('/ABCMonumentGrotesk-Medium.woff2') format('woff');
    }
    @font-face {
        font-family: 'Monument Grotesk';
        font-style: normal;
        font-weight: normal;
        src: local('Monument Grotesk'), url('/ABCMonumentGrotesk-Regular.woff2') format('woff');
    }

    .Chip_container__YqVlc{
        position:relative;
        display:inline-block;
        padding:.25rem 1rem .25rem 2rem;
        background-color:hsla(0,0%,78%,.1);
        border-radius:6.25rem
    }
    .Chip_container__YqVlc:before{
        content:"";
        display:block;
        position:absolute;
        top:50%;
        left:1rem;
        width:.375rem;
        height:.375rem;
        margin-top:-.1875rem;
        border-radius:50%;
        background-color:#fff;
        transition:transform 225ms cubic-bezier(.4,0,.2,1) 225ms
    }
    .Chip_container__YqVlc:hover:before{
        transform:scale(1.5);
        transition:transform 225ms cubic-bezier(.4,0,.2,1) 225ms
    }
    .Chip_container__YqVlc .Chip_text__IeUgO{
        font-size:1rem!important
    }
    @keyframes Blob_noise__2Lq9E{
        0%{
            background-position:0 0
        }
        10%{
            background-position:-5% -5%
        }
        20%{
            background-position:-10% 5%
        }
        30%{
            background-position:5% -10%
        }
        40%{
            background-position:-5% 15%
        }
        50%{
            background-position:-10% 5%
        }
        60%{
            background-position:15% 0
        }
        70%{
            background-position:0 10%
        }
        80%{
            background-position:-15% 0
        }
        90%{
            background-position:10% 5%
        }
        to{
            background-position:5% 0
        }
    }
    @keyframes Blob_animate-blob__1_8L6{
        0%{
            rotate:0deg
        }
        25%{
            scale:1.5 1.5
        }
        50%{
            scale:2 2.5
        }
        75%{
            scale:1.5 1.5
        }
        to{
            rotate:1turn
        }
    }
    @keyframes Blob_animate-blob-reverse__49E9J{
        0%{
            rotate:1turn
        }
        25%{
            scale:2.5 2.5
        }
        50%{
            scale:1 1.5
        }
        75%{
            scale:2.5 2.5
        }
        to{rotate:0deg
        }
    }
    @keyframes Blob_animate-blob-mobile__pK5bX{
        0%{
            rotate:0deg;scale:.5
        }
            25%{
                scale:1}
                50%{
                    scale:1.5
                }
                75%{
                    scale:1
                }
                to{
                    rotate:1turn;scale:.5
                }
            }
            .Blob_container__nNBtO,.Blob_container__nNBtO:before{
                position:absolute;
                width:100%;
                height:100%
            }
                .Blob_container__nNBtO:before{
                    content:"";
                    z-index:1;
                    background:radial-gradient(75% 50% at 50% 50%,rgba(2,1,2,0) 0,#020102 100%)
                }
                @media screen and (max-width:768px){
                    .Blob_container__nNBtO:before{display:none
                    }
                }
                .Blob_container__nNBtO:after{
                    content:"";
                    position:absolute;
                    height:100%;
                    width:100%;
                    -webkit-backdrop-filter:blur(2.5rem);
                    backdrop-filter:blur(2.5rem)
                }
                .Blob_container__nNBtO .Blob_blob__7nPI9{
                    aspect-ratio:1;
                    position:absolute;
                    left:50%;
                    top:50%;
                    translate:-50% -50%;
                    border-radius:50%;
                    animation:Blob_animate-blob__1_8L6 5s infinite;
                    opacity:.8;
                    filter:blur(2.5rem);
                    width:25%;
                    height:25%
                }
                .Blob_container__nNBtO .Blob_blob__7nPI9:first-child{
                    background:radial-gradient(ellipse at 50% 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,0) 100%),radial-gradient(ellipse at 70% 60%,#b04bff 0,rgba(195,224,96,0) 90%),radial-gradient(ellipse at 30% 30%,#b04bff 0,rgba(195,224,96,0) 60%),radial-gradient(ellipse at bottom left,#00a3cb 0,rgba(0,163,203,0) 70%),linear-gradient(135deg,rgba(18,46,119,0),rgba(18,46,119,0) 75%,#122e77),linear-gradient(90deg,#625793 0,#d55d64 35%,#e49129 65%,#c0671c);top:45%;left:45%
                }
                .Blob_container__nNBtO .Blob_blob__7nPI9:nth-child(2){background:radial-gradient(ellipse at 50% 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,0) 100%),radial-gradient(ellipse at 70% 60%,#d0bfff 0,rgba(195,224,96,0) 90%),radial-gradient(ellipse at 30% 30%,#d0bfff 0,rgba(195,224,96,0) 60%),radial-gradient(ellipse at bottom left,#00a3cb 0,rgba(0,163,203,0) 70%),linear-gradient(135deg,rgba(18,46,119,0),rgba(18,46,119,0) 75%,#122e77),linear-gradient(90deg,#625793 0,#d55d64 35%,#e49129 65%,#c0671c);
                    animation-name:Blob_animate-blob-reverse__49E9J;
                    top:45%;
                    left:55%
                }
                .Blob_container__nNBtO .Blob_blob__7nPI9:nth-child(3){
                    background:radial-gradient(ellipse at 50% 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,0) 100%),radial-gradient(ellipse at 70% 60%,#bff4ff 0,rgba(195,224,96,0) 90%),radial-gradient(ellipse at 30% 30%,#bff4ff 0,rgba(195,224,96,0) 60%),radial-gradient(ellipse at bottom left,#00a3cb 0,rgba(0,163,203,0) 70%),linear-gradient(135deg,rgba(18,46,119,0),rgba(18,46,119,0) 75%,#122e77),linear-gradient(90deg,#625793 0,#d55d64 35%,#e49129 65%,#c0671c);
                    top:55%;
                    left:55%
                }
                .Blob_container__nNBtO .Blob_blob__7nPI9:nth-child(4){
                    animation-name:Blob_animate-blob-reverse__49E9J;
                    top:55%;
                    left:45%
                }
                .Blob_container__nNBtO .Blob_blob__7nPI9:nth-child(4).Blob_Discovery__dSA7C{
                    background:radial-gradient(ellipse at 50% 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,0) 100%),radial-gradient(ellipse at 70% 60%,#c3e060 0,rgba(195,224,96,0) 90%),radial-gradient(ellipse at 30% 30%,#c3e060 0,rgba(195,224,96,0) 60%),radial-gradient(ellipse at bottom left,#00a3cb 0,rgba(0,163,203,0) 70%),linear-gradient(135deg,rgba(18,46,119,0),rgba(18,46,119,0) 75%,#122e77),linear-gradient(90deg,#625793 0,#d55d64 35%,#e49129 65%,#c0671c)
                }
                .Blob_container__nNBtO .Blob_blob__7nPI9:nth-child(4).Blob_Design__G0_SZ{
                    background:radial-gradient(ellipse at 50% 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,0) 100%),radial-gradient(ellipse at 70% 60%,#ff5e5e 0,rgba(195,224,96,0) 90%),radial-gradient(ellipse at 30% 30%,#ff5e5e 0,rgba(195,224,96,0) 60%),radial-gradient(ellipse at bottom left,#00a3cb 0,rgba(0,163,203,0) 70%),linear-gradient(135deg,rgba(18,46,119,0),rgba(18,46,119,0) 75%,#122e77),linear-gradient(90deg,#625793 0,#d55d64 35%,#e49129 65%,#c0671c)
                }
                .Blob_container__nNBtO .Blob_blob__7nPI9:nth-child(4).Blob_Development__9igIC{
                    background:radial-gradient(ellipse at 50% 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,0) 100%),radial-gradient(ellipse at 70% 60%,#6c38ff 0,rgba(195,224,96,0) 90%),radial-gradient(ellipse at 30% 30%,#6c38ff 0,rgba(195,224,96,0) 60%),radial-gradient(ellipse at bottom left,#00a3cb 0,rgba(0,163,203,0) 70%),linear-gradient(135deg,rgba(18,46,119,0),rgba(18,46,119,0) 75%,#122e77),linear-gradient(90deg,#625793 0,#d55d64 35%,#e49129 65%,#c0671c)
                }
                .Blob_container__nNBtO .Blob_blob__7nPI9:nth-child(4).Blob_Delivery__2hhkS{
                    background:radial-gradient(ellipse at 50% 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,0) 100%),radial-gradient(ellipse at 70% 60%,#2cc0ff 0,rgba(195,224,96,0) 90%),radial-gradient(ellipse at 30% 30%,#2cc0ff 0,rgba(195,224,96,0) 60%),radial-gradient(ellipse at bottom left,#00a3cb 0,rgba(0,163,203,0) 70%),linear-gradient(135deg,rgba(18,46,119,0),rgba(18,46,119,0) 75%,#122e77),linear-gradient(90deg,#625793 0,#d55d64 35%,#e49129 65%,#c0671c)
                }
                .MagnetButton_button__qdQOj{
                    position:absolute;
                    top:5.5555555556vw;
                    right:6.25vw;
                    display:inline-flex;
                    align-items:center;
                    justify-content:center;
                    background-color:hsla(0,0%,78%,.08);
                    -webkit-backdrop-filter:blur(.25rem);
                    backdrop-filter:blur(.25rem);
                    min-width:4rem;
                    min-height:4rem;
                    width:5.5555555556vw;
                    height:5.5555555556vw;
                    border-radius:50%;
                    border:none;
                    outline:none;
                    overflow:hidden;
                    transition:transform 225ms
                }
                .MagnetButton_button__qdQOj .MagnetButton_bar__oaUDZ{
                    position:absolute;
                    display:block;
                    width:1.5rem;
                    height:.125rem;
                    background-color:#fff
                }
                .MagnetButton_button__qdQOj .MagnetButton_bar__oaUDZ:first-child{
                    transform:rotate(45deg) scaleX(1)
                }
                .MagnetButton_button__qdQOj .MagnetButton_bar__oaUDZ:last-child{
                    transform:rotate(-45deg) scaleX(1)
                }
                .MagnetButton_button__qdQOj:before{
                    content:"";
                    width:0;
                    height:0;
                    border-radius:50%;
                    position:absolute;
                    top:var(--y);
                    left:var(--x);
                    transform:translate(-50%,-50%);
                    transition:width .75s,height .75s;background-color:#fff
                }
                .MagnetButton_button__qdQOj:hover{
                    background-color: white;
                    transition: 0.6s;
                    cursor:pointer
                }
                .MagnetButton_button__qdQOj:hover:before{
                    width:25rem;
                    height:25rem
                }
                .MagnetButton_button__qdQOj:hover .MagnetButton_bar__oaUDZ{
                    background-color:#020102
                }
                @media screen and (max-width:768px){
                    .MagnetButton_button__qdQOj:hover{
                        background-color:#fff
                    }
                }
                @keyframes ServiceDialog_noise__D1ttE{
                    0%{
                        background-position:0 0
                    }
                    10%{
                        background-position:-5% -5%
                    }
                    20%{
                        background-position:-10% 5%
                    }
                    30%{
                        background-position:5% -10%
                    }
                    40%{
                        background-position:-5% 15%
                    }
                    50%{
                        background-position:-10% 5%
                    }
                    60%{
                        background-position:15% 0
                    }
                    70%{
                        background-position:0 10%
                    }
                    80%{
                        background-position:-15% 0
                    }
                        90%{
                            background-position:10% 5%
                        }
                        to{
                            background-position:5% 0
                        }
                    }
                    @keyframes ServiceDialog_animate-blob__XV2o2{
                        0%{
                            rotate:0deg
                        }
                            25%{
                                scale:1.5 1.5}
                                50%{
                                    scale:2 2.5
                                }
                                75%{
                                    scale:1.5 1.5
                                }
                                to{
                                    rotate:1turn
                                }
                            }
                            @keyframes ServiceDialog_animate-blob-reverse__zdxf5{
                                0%{
                                    rotate:1turn
                                }
                                25%{
                                    scale:2.5 2.5
                                }
                                50%{
                                    scale:1 1.5
                                }
                                75%{
                                    scale:2.5 2.5
                                }
                                to{
                                    rotate:0deg
                                }
                            }
                            @keyframes ServiceDialog_animate-blob-mobile__0NOFV{
                                0%{
                                    rotate:0deg;
                                    scale:.5
                                }
                                25%{
                                    scale:1
                                }
                                50%{
                                    scale:1.5
                                }
                                75%{
                                    scale:1
                                }
                                to{
                                    rotate:1turn;
                                    scale:.5
                                }
                            }
                            .ServiceDialog_container__e3Bw5{
                                position:fixed;
                                top:0;
                                left:0;
                                right:0;
                                bottom:0;
                                visibility:hidden;
                                z-index:1000;
                                overflow:hidden;
                                background-color:#020102
                            }
                            .ServiceDialog_container__e3Bw5:before{
                                content:"";
                                width:100vw;
                                height:100vh;
                                position:fixed;
                                z-index:1000;
                                background:transparent url(/images/noise.png);
                                mix-blend-mode:multiply;
                                pointer-events:none;
                                animation:ServiceDialog_noise__D1ttE .2s infinite
                            }
                            @media screen and (max-width:768px){
                                .ServiceDialog_container__e3Bw5{
                                    overflow-y:initial
                                }
                            }
                            .ServiceDialog_container__e3Bw5 .ServiceDialog_wrapper__NAC6b{
                                position:absolute;
                                width:100%;
                                height:100%;
                                z-index:2
                            }
                            .ServiceDialog_container__e3Bw5 .ServiceDialog_wrapper__NAC6b .ServiceDialog_content__MTzcp{
                                padding:13.8888888889vw 6.25vw;
                                max-width:50.6944444444vw
                            }
                            @media screen and (max-width:768px){
                                .ServiceDialog_container__e3Bw5 .ServiceDialog_wrapper__NAC6b .ServiceDialog_content__MTzcp{
                                    max-width:100%;
                                    padding-left:1.5rem;
                                    padding-right:1.5rem
                                }
                            }
                            .ServiceDialog_container__e3Bw5 .ServiceDialog_wrapper__NAC6b .ServiceDialog_content__MTzcp .ServiceDialog_name__MgNhA{
                                font-family: Monument Grotesk Medium;
                                margin-bottom:4rem
                            }
                            .ServiceDialog_container__e3Bw5 .ServiceDialog_wrapper__NAC6b .ServiceDialog_content__MTzcp .ServiceDialog_description__Xci9t{
                                margin-top:2rem;
                                margin-bottom:3.5rem;
                                color:hsla(0,0%,78%,.6)
                            }
                            .ServiceDialog_container__e3Bw5 .ServiceDialog_wrapper__NAC6b .ServiceDialog_content__MTzcp .ServiceDialog_services__GSUL1{
                                display:flex;
                                flex-flow:row wrap;
                                width:auto;
                                justify-content:space-between;
                                gap:1.5rem;
                                overflow:hidden
                            }
                            @media screen and (max-width:768px){
                                .ServiceDialog_container__e3Bw5 .ServiceDialog_wrapper__NAC6b .ServiceDialog_content__MTzcp .ServiceDialog_services__GSUL1{
                                    gap:.375rem
                                }
                            }
                            .ServiceDialog_container__e3Bw5 .ServiceDialog_wrapper__NAC6b .ServiceDialog_content__MTzcp .ServiceDialog_services__GSUL1 .ServiceDialog_service__pZ3d6{
                                display:flex;
                                align-items:baseline;
                                flex-basis:45%;
                                transform:translateY(100%)
                            }
                            @media screen and (max-width:768px){
                                .ServiceDialog_container__e3Bw5 .ServiceDialog_wrapper__NAC6b .ServiceDialog_content__MTzcp .ServiceDialog_services__GSUL1 .ServiceDialog_service__pZ3d6{
                                    flex-basis:100%
                                }
                            }
                            .ServiceDialog_container__e3Bw5 .ServiceDialog_wrapper__NAC6b .ServiceDialog_content__MTzcp .ServiceDialog_services__GSUL1 .ServiceDialog_service__pZ3d6 p{
                                color:hsla(0,0%,78%,.6)
                            }
                            .ServiceDialog_container__e3Bw5 .ServiceDialog_wrapper__NAC6b .ServiceDialog_content__MTzcp .ServiceDialog_services__GSUL1 .ServiceDialog_service__pZ3d6:before{
                                content:"";
                                width:.5rem;
                                height:.5rem;
                                position: absolute;
                                left: -17px;
                                top: 9px;
                                border-radius:50%;
                                background-color:hsla(0,0%,78%,.6);
                                margin-right:.625rem
                            }
                            @keyframes Service_noise__LGFtA{
                                    0%{background-position:0 0
                                    }
                                    10%{
                                        background-position:-5% -5%
                                    }
                                    20%{
                                        background-position:-10% 5%
                                    }
                                    30%{
                                        background-position:5% -10%
                                    }
                                    40%{
                                        background-position:-5% 15%
                                    }
                                    50%{
                                        background-position:-10% 5%
                                    }
                                    60%{
                                        background-position:15% 0
                                    }
                                    70%{
                                        background-position:0 10%
                                    }
                                    80%{
                                        background-position:-15% 0
                                    }
                                    90%{
                                        background-position:10% 5%
                                    }
                                    to{
                                        background-position:5% 0
                                    }
                                }@keyframes Service_animate-blob__LHOou{
                                    0%{
                                        rotate:0deg
                                    }
                                    25%{
                                        scale:1.5 1.5
                                    }
                                    50%{
                                        scale:2 2.5
                                    }
                                    75%{
                                        scale:1.5 1.5
                                    }
                                    to{
                                        rotate:1turn
                                    }
                                }
                                @keyframes Service_animate-blob-reverse__D6qw3{
                                    0%{
                                        rotate:1turn
                                    }
                                    25%{
                                        scale:2.5 2.5
                                    }
                                    50%{
                                        scale:1 1.5
                                    }
                                    75%{
                                        scale:2.5 2.5
                                    }
                                    to{
                                        rotate:0deg
                                    }
                                }
                                @keyframes Service_animate-blob-mobile__VCpob{
                                    0%{
                                        rotate:0deg;scale:.5
                                    }
                                    25%{
                                        scale:1
                                    }
                                    50%{
                                        scale:1.5
                                    }
                                    75%{
                                        scale:1
                                    }
                                    to{
                                        rotate:1turn;
                                        scale:.5
                                    }
                                }
                                .Service_container__jQvHZ{
                                    position:relative;
                                    width:100%;
                                    height:100%;
                                    display:flex;
                                    justify-content:center;
                                    align-items:flex-end;
                                    background-color:#020102;
                                    overflow:hidden
                                }
                                @media screen and (max-width:768px){
                                    .Service_container__jQvHZ{
                                        position:absolute;
                                        align-items:center
                                    }
                                }
                                .Service_container__jQvHZ .Service_name__Cjv2W{
                                    z-index:2;
                                    transform:rotate(-90deg);
                                    width:100%;
                                    margin-bottom:17.3611111111vw;
                                    pointer-events:none
                                }
                                @media screen and (max-width:768px){
                                    .Service_container__jQvHZ .Service_name__Cjv2W{
                                        width:unset;
                                        margin-bottom:unset;
                                        transform:none
                                    }
                                }
                                .Service_container__jQvHZ .Service_blob__z2tXu{
                                    display:none
                                }
                                @media screen and (max-width:768px){
                                    .Service_container__jQvHZ .Service_blob__z2tXu .Service_inner__6FID4{
                                        animation-name:Service_animate-blob-mobile__VCpob
                                    }
                                }
                                .Service_container__jQvHZ:hover .Service_blob__z2tXu{
                                    display:block
                                }
                                .ServicesSection_container__3hyNy{
                                    padding-top:19.4444444444vw;
                                    padding-bottom:5.5555555556vw
                                }
                                .ServicesSection_container__3hyNy .ServicesSection_title__xeiyc{
                                    margin-top:3.125rem;
                                    margin-bottom:7.5rem
                                }
                                @media screen and (max-width:768px){
                                    .ServicesSection_container__3hyNy .ServicesSection_title__xeiyc{
                                        margin-top:2.1875rem;
                                        margin-bottom:5rem
                                    }
                                }
                                .ServicesSection_container__3hyNy .ServicesSection_grid__KY3yV{
                                    width:100%;
                                    display:flex;
                                    flex-flow:row wrap;
                                    justify-content:space-between
                                }
                                @media screen and (max-width:768px){.ServicesSection_container__3hyNy .ServicesSection_grid__KY3yV{
                                    flex-direction:column;
                                    align-items:center;
                                    justify-content:center
                                }
                            }
                            .ServicesSection_container__3hyNy .ServicesSection_grid__KY3yV .ServicesSection_item__ck4NM{
                                position:relative;
                                min-height:50vw;
                                width:25%
                            }
                            @media screen and (max-width:768px){
                                        .ServicesSection_container__3hyNy .ServicesSection_grid__KY3yV .ServicesSection_item__ck4NM{
                                            width:100%
                                        }
                                        }

                                        .Container_root__E8Ui8{
                                            width:100%;
                                            margin-left:auto;
                                            margin-right:auto;
                                            padding-left:5.625rem;
                                            padding-right:5.625rem
                                        }
                                        @media screen and (max-width:1024px){
                                            .Container_root__E8Ui8{
                                                padding-left:1.25rem;
                                                padding-right:1.25rem
                                            }
                                        }
                                        .Container_root__E8Ui8.Container_noGutters__wUATB{
                                            padding-left:0;
                                            padding-right:0
                                        }
                                        .Container_root__E8Ui8.Container_xs__IPEAu{
                                            max-width:375px
                                        }
                                        .Container_root__E8Ui8.Container_sm__yYwrg{
                                            max-width:640px
                                        }
                                        .Container_root__E8Ui8.Container_md__y6QuA{
                                            max-width:768px
                                        }
                                        .Container_root__E8Ui8.Container_xl__8FQ28{
                                            max-width:1260px
                                        }
                                        .Container_root__E8Ui8.Container_lg__o33qT{
                                            max-width:1024px
                                        }
                                        .NavigationItem_container__RZiQC{
                                            display:flex;
                                            align-items:center;
                                            height:100%;
                                            color:#fff;
                                            padding:.25rem 1rem;
                                            margin-right:.5rem;
                                            position:relative;
                                            cursor:pointer;
                                            font-size:1rem;
                                            -webkit-tap-highlight-color:rgba(0,0,0,0)
                                        }
                                        .NavigationItem_container__RZiQC:before{
                                            content:"";
                                            transform:scale(0)
                                        }
                                        .NavigationItem_container__RZiQC:after{
                                            content:"";
                                            position:absolute;
                                            right:-.375rem;
                                            width:.0625rem;
                                            height:.5rem;
                                            background-color:hsla(0,0%,78%,.08);
                                            border-radius:.25rem
                                        }
                                        .NavigationItem_container__RZiQC:last-child{
                                            margin-right:0
                                        }
                                        .NavigationItem_container__RZiQC:last-child:after{
                                            content:none
                                        }
                                            .NavigationItem_container__RZiQC.NavigationItem_selected__XClLc{
                                                padding:.25rem 1rem .25rem 2rem
                                            }
                                            .NavigationItem_container__RZiQC.NavigationItem_selected__XClLc:before{
                                                content:"";
                                                display:block;
                                                position:absolute;
                                                top:50%;
                                                left:1rem;
                                                width:.375rem;
                                                height:.375rem;
                                                margin-top:-.1875rem;
                                                border-radius:50%;
                                                background-color:#fff;
                                                transform:scale(1);
                                                transition:transform 225ms cubic-bezier(.4,0,.2,1) 225ms
                                            }
                                            .NavigationItem_container__RZiQC .NavigationItem_selection__aFIvN{
                                                background-color:hsla(0,0%,78%,.08);
                                                border:.0625rem solid hsla(0,0%,78%,.01);
                                                border-radius:1.25rem;
                                                width:100%;
                                                height:100%;
                                                position:absolute;
                                                top:0;
                                                left:0
                                            }
                                            .Header_container__7nNih{
                                                display:flex;
                                                padding-top:1.5rem;
                                                padding-bottom:1.5rem;
                                                justify-content:space-between;
                                                align-items:center;
                                                position:fixed;
                                                top:0;
                                                left:0;
                                                right:0;
                                                z-index:999
                                            }
                                            .Header_container__7nNih:before{
                                                content:"";
                                                position:absolute;
                                                left:0;
                                                right:0;
                                                top:0;
                                                bottom:0;
                                                z-index:-1;
                                                background:rgba(2,1,2,.6)
                                            }
                                            @supports((-webkit-backdrop-filter:none) or (backdrop-filter:none)){
                                                .Header_container__7nNih:before{
                                                    background:rgba(2,1,2,.4);
                                                    -webkit-backdrop-filter:blur(.75rem);
                                                    backdrop-filter:blur(.75rem)
                                                }
                                            }
                                            @media screen and (max-width:1024px){
                                                .Header_container__7nNih{
                                                    justify-content:center
                                                }
                                            }
                                            .Header_container__7nNih:after{
                                                content:"";
                                                flex:1 1
                                            }
                                            .Header_container__7nNih .Header_logo__gECVj{
                                                flex:1 1
                                            }
                                            @media screen and (max-width:1024px){
                                                .Header_container__7nNih .Header_navbar__5mHNj{
                                                    position:fixed;
                                                    bottom:1.25rem;
                                                    background-color:#020102;
                                                    border-radius:2.5rem
                                                }
                                                }
                                                .Header_container__7nNih .Header_navbar__5mHNj .Header_grid__nErAV{
                                                    display:flex;
                                                    justify-content:space-between;
                                                    align-items:center;
                                                    background-color:hsla(0,0%,78%,.08);
                                                    height:2.5625rem;
                                                    border:.0625rem solid hsla(0,0%,78%,.02);
                                                    border-radius:2.5rem;
                                                    padding:.25rem
                                                }
                                                .Typography_h1__tAebO,.Typography_root__5v96W.Typography_h1__tAebO{
                                                    font-family:Monument Grotesk;
                                                    font-size:11.5277777778vw;
                                                    font-weight:500;
                                                    line-height:82%;
                                                    letter-spacing:-.05em
                                                }
                                                @media screen and (max-width:640px){
                                                    .Typography_h1__tAebO,.Typography_root__5v96W.Typography_h1__tAebO{
                                                        font-size:4rem
                                                    }
                                                }
                                                .Typography_h2__apP1o,.Typography_root__5v96W.Typography_h2__apP1o{
                                                    font-family:Monument Grotesk;
                                                    font-size:8.3333333333vw;
                                                    font-weight:500;
                                                    line-height:82%;
                                                    letter-spacing:-.04em
                                                }
                                                @media screen and (max-width:768px){
                                                    .Typography_h2__apP1o,.Typography_root__5v96W.Typography_h2__apP1o{
                                                        font-size:3.5rem
                                                    }
                                                }
                                                .Typography_h3__GNbdR,.Typography_root__5v96W.Typography_h3__GNbdR{
                                                    font-family:Monument Grotesk;
                                                    font-size:6.1111111111vw;
                                                    font-weight:500;
                                                    line-height:94%;
                                                    letter-spacing:-.03em
                                                }
                                                @media screen and (max-width:768px){
                                                    .Typography_h3__GNbdR,.Typography_root__5v96W.Typography_h3__GNbdR{
                                                        font-size:3rem
                                                    }
                                                }
                                                .Typography_h4__CLt7E,.Typography_root__5v96W.Typography_h4__CLt7E{
                                                    font-family:Monument Grotesk;
                                                    font-size:5.5555555556vw;
                                                    font-weight:500;
                                                    line-height:94%;
                                                    letter-spacing:-.03em
                                                }
                                                    @media screen and (max-width:768px){
                                                        .Typography_h4__CLt7E,.Typography_root__5v96W.Typography_h4__CLt7E{
                                                            font-size:2.25rem
                                                        }
                                                    }
                                                    .Typography_h5__cHg24,.Typography_root__5v96W.Typography_h5__cHg24{
                                                        font-family:Monument Grotesk;
                                                        font-size:4.4444444444vw;
                                                        font-weight:500;
                                                        line-height:100%;
                                                        letter-spacing:-.02em
                                                    }
                                                    @media screen and (max-width:768px){
                                                        .Typography_h5__cHg24,.Typography_root__5v96W.Typography_h5__cHg24{
                                                            font-size:2rem
                                                        }
                                                    }
                                                    .Typography_h6__jL3EL,.Typography_root__5v96W.Typography_h6__jL3EL{
                                                        font-family:Monument Grotesk Medium;
                                                        font-size:2.7777777778vw;
                                                        font-weight:500;
                                                        line-height:104%;
                                                        letter-spacing:-.02em
                                                    }
                                                    @media screen and (max-width:768px){
                                                        .Typography_h6__jL3EL,.Typography_root__5v96W.Typography_h6__jL3EL{
                                                            font-size:1.75rem
                                                        }
                                                    }
                                                    .Typography_body-1__Y6xoB,.Typography_root__5v96W.Typography_body1__LGaV4{
                                                        font-family:Monument Grotesk;
                                                        font-size:1.3888888889vw;
                                                        font-weight:400;
                                                        line-height:140%
                                                    }
                                                    @media screen and (max-width:1024px){
                                                        .Typography_body-1__Y6xoB,.Typography_root__5v96W.Typography_body1__LGaV4{
                                                            font-size:1.25rem
                                                        }
                                                    }
                                                    .Typography_body-2__9JXI3,.Typography_root__5v96W.Typography_body2__Qmvkh{
                                                        font-family:Monument Grotesk;
                                                        font-size:1.1111111111vw;
                                                        font-weight:400;
                                                        line-height:156%
                                                    }
                                                    @media screen and (max-width:1024px){
                                                        .Typography_body-2__9JXI3,.Typography_root__5v96W.Typography_body2__Qmvkh{
                                                            font-size:1rem
                                                        }
                                                    }.Typography_root__5v96W{
                                                        color:#fff
                                                    }
                                                    